@charset "UTF-8";
/*=================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #484848;
  max-width: 120rem;
  margin: 0 auto;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Lato", sans-serif;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #484848;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/*===========================================================================*/
.w-670 {
  max-width: 41.875rem;
  margin: 0 auto;
}

.w-992 {
  max-width: 62rem;
  margin: 0 auto;
}

.w-1366 {
  max-width: 85.375rem;
  margin: 0 auto;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

/*===========================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-900 {
  font-weight: 900;
}

/*===========================================================================*/
.text-gray-b5 {
  color: #b5b5b5;
}

.text-gray-48 {
  color: #484848;
}

.text-gray-6f {
  color: #6f6f6f;
}

.text-gray-aa {
  color: #aaaaaa;
}

.text-gray-d5 {
  color: #d5d5d5;
}

.text-gray-e1 {
  color: #e1e1e1;
}

.text-cyan-0a {
  color: #00afa0;
}

.text-blue-02 {
  color: #0288d1;
}

.text-white-80 {
  color: #ffffff80;
}

/*=================================================================*/
.bg-red-e5 {
  background-color: #e53012;
}

.bg-gray-f9 {
  background-color: #f9f9f9;
}

/*=================================================================*/
.border-d5 {
  border: 1px solid #d5d5d5;
}

.border-e1 {
  border: 1px solid #e1e1e1;
}

/*=================================================================*/
.line-d5 {
  border-bottom: 1px solid #d5d5d5;
}

.line-f4 {
  border-bottom: 1px solid #f4f1f1;
}

.line-e1 {
  border-bottom: 1px solid #e1e1e1;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #b5b5b5;
}

.border-50 {
  border-radius: 50%;
}

/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*===============================================================*/
::-webkit-input-placeholder {
  /* Edge */
  color: #aaaaaa;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaaaaa;
}

::placeholder {
  color: #aaaaaa;
}

/*==================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.padding-t57 {
  padding-top: 57px;
}

#header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

.haeder-logo {
  flex-grow: 1;
}

.haeder-logo img {
  width: 136px;
  height: auto;
}

.dropdown-list {
  flex-grow: 2;
  padding: 1rem 0;
  margin: 2px 0 0;
}

.dropdown-list-toggle {
  cursor: pointer;
  position: relative;
}

.dropdown-list-toggle + .dropdown-list-toggle {
  margin-left: 60px;
}

.dropdown-list-toggle:before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 100%;
  right: 0;
  left: 0;
  transform: translateY(22px);
  background-color: transparent;
}

.dropdown-list-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  margin-top: 1rem;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: none;
  transition: transform linear 0.3s;
  -webkit-transition: transform linear 0.3s;
  -moz-transition: transform linear 0.3s;
  -ms-transition: transform linear 0.3s;
  -o-transition: transform linear 0.3s;
  will-change: transform;
}

.dropdown-list-block {
  padding: 0.625rem 15rem 2rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}

.dropdown-list-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 1.25rem;
}

.dropdown-line {
  position: absolute;
  height: 0.25rem;
  width: 0;
  transform: translateY(12px);
  background-color: #00afa0;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  will-change: width;
}

.dropdown-list-toggle:hover .dropdown-line {
  width: 100%;
}

.dropdown-list-toggle:hover .dropdown-list-wrapper {
  display: block;
}

.header-right {
  flex-grow: 2;
}

.header-search {
  flex-basis: 320px;
  position: relative;
}

.form-control-t {
  width: 100%;
  height: 2.8125rem;
  border-radius: 0.25rem;
  border: 1px solid #d5d5d5;
  padding: 0.75rem 1rem;
}

.header-icon + .header-icon {
  margin-left: 0.75rem;
}

.header-icon {
  line-height: 1;
  color: #6f6f6f;
}

.header-icon .header-icon__location,
.header-icon .header-icon__map,
.header-icon .header-icon__user {
  font-size: 1.875rem;
}

.search-icon {
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  line-height: 1;
  cursor: pointer;
}

.focus-border-blule:focus {
  border: 1px solid #3fbfff;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 0.1875rem;
  background: #fff;
  z-index: 5;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0.375rem 0 0;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  -ms-border-radius: 0.1875rem;
  -o-border-radius: 0.1875rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  will-change: transform, transition;
}

.search-dropdown.show {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.search-dropdown::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 9999px;
  border: 1px solid #fff;
}

.search-dropdown::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.search-dropdown-item-li {
  padding: 0 0.75rem;
  cursor: pointer;
}

.search-dropdown-item:last-child .search-dropdown-item-li:last-child > div {
  border-bottom: none;
}

.search-dropdown-item-li:hover,
.dropdown-list-item:hover {
  background-color: #efefef;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.dropdown-list-item {
  padding-left: 10px;
}

.more-car-show-item {
  width: 60px !important;
  height: auto;
  display: none;
  transition: all 0.3s;
  transform: scale(0);
}

.more-car-show-item.active {
  display: block;
  transform: scale(1);
}

.more-car-show-item-text {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.625rem;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  width: 49px;
  border-radius: 0.25rem;
}

.more-car-show {
  display: block;
  margin-left: 2rem;
}

.login-popup,
.menu-mobile,
.search-mobile {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  transition: 0.3s;
  opacity: 0;
  transition: all 0.3s linear;
}

.login-popup.show,
.menu-mobile.show,
.search-mobile.show {
  display: block;
  opacity: 1;
}

.login-popup-field {
  top: 50%;
  left: 50%;
  width: 30rem;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.25rem;
}

.login-popup-header {
  padding: 1.25rem 1rem;
}

.login-popup-close {
  top: -13px;
  right: 13px;
  background: #fbfbfb;
  width: 2rem;
  cursor: pointer;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}

.login-popup-form {
  padding: 0.75rem 2.25rem 1.25rem;
}

.popup-show-pass {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-login {
  background-color: #e53012;
  height: 40px;
}

.padding-y-40 {
  padding: 0 40px;
}

.line-or {
  background: #eee;
  width: 100%;
  height: 1px;
}

.btn-login-gg {
  height: 40px;
}

.header-user {
  cursor: pointer;
}

.menu-mb-field {
  background: #fff;
  height: 100%;
  max-width: 300px;
  padding: 1rem 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  will-change: transform;
}

.menu-mb-field.show {
  transform: translateX(0);
}

.menu-mb-dropdown-list {
  background-color: #fbfbfb;
  display: none;
  transform-origin: top;
  transition: 0.3s;
  will-change: display, transform;
}

.menu-mb-dropdown-list.show {
  display: block;
}

.menu-mb-dropdown-item {
  padding: 0.75rem 0.75rem 0.75rem 3.5rem;
}

.banner-top {
  padding-top: 57px;
}

.banner-top-content {
  bottom: 0;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
  width: 100%;
}

.selection-car {
  background-color: #e1e1e1;
  border-radius: 0.25rem 0 0 0.25rem;
}

.selection-car-icon {
  line-height: 1;
  flex-shrink: 0;
}

.form-search-banner-top {
  flex: 1;
  display: none;
}

.form-search-banner-top.active {
  display: flex;
  justify-content: space-between;
}

.search-banner-top {
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  display: flex;
}

.submit-search-banner-top {
  margin-right: 2px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.banner-top-content__text-list,
.selection-car-item {
  display: none;
}

.banner-top-content__text-list.active,
.selection-car-item.active {
  display: block;
}

.banner-top-content__text-item {
  border-right: 1px solid #fff;
  padding: 0 6px;
  line-height: 1;
}

.banner-top-content__text-item:last-child {
  border-right: none;
}

.search-banner-top-range {
  border-left: 1px solid #d5d5d5;
}

.search-banner-top-range-dropdown:before {
  position: absolute;
  content: "";
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  border-bottom: solid 10px #fff;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.search-banner-top-range-dropdown {
  margin-top: 1rem;
  background: #fff;
  width: 100%;
  width: 372px;
  padding: 2rem 1rem 1rem;
  top: 100%;
  left: -50%;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  display: none;
}

.search-banner-top-range-dropdown.show {
  display: block;
}

.tab-item.active {
  border-bottom: 0.25rem solid #00afa0;
  color: #00afa0;
}

.tab-item + .tab-item {
  margin-left: 2rem;
}

.tab-item {
  color: #aaa;
  cursor: pointer;
  border-bottom: 0.25rem solid transparent;
}

.tab-panes-block {
  border-radius: 0.25rem;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  background-color: #f9f9f9;
}

.hovering-banner {
  top: 0.375rem;
  left: 0.375rem;
}

.just-launched {
  background-color: #ef9526;
  padding: 0.25rem 0.5rem;
}

.time-public {
  background-color: #a25a00;
  padding: 0.25rem 0.5rem;
}

.time-public .badge {
  transform: translateY(-0.3125rem);
  -webkit-transform: translateY(-0.3125rem);
  -moz-transform: translateY(-0.3125rem);
  -ms-transform: translateY(-0.3125rem);
  -o-transform: translateY(-0.3125rem);
}

.tab-panes-block__content {
  padding: 1rem 0.75rem 1.25rem;
}

.tab-panes {
  display: none;
}

.tab-panes.active {
  display: block;
}

.slick-slide {
  margin: 0.375rem;
}

.slick-prev {
  left: -12px;
}

.slick-next {
  right: -12px;
}

.slick-next,
.slick-prev {
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.slick-next:before {
  content: "❯";
  color: #333;
  font-size: 21px;
}

.slick-prev:before {
  content: "❮";
  color: #333;
  font-size: 21px;
}

.text-panes {
  display: none;
  transition: display 0.2s ease;
  margin-top: 1.5rem;
  will-change: display;
}

.text-panes.active {
  display: block;
}

.a-hover1,
.a-hover1 a {
  color: #0288d1;
}

.brand-content {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.brands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.brand-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.brand-item:nth-child(6n+0) {
  border-right: none;
}

.brand-item img {
  width: 88px;
  height: auto;
}

.tab-content-item {
  display: none;
  transition: display 0.2s ease;
  will-change: display;
}

.tab-content-item.active {
  display: block;
}

.choice-pudget {
  padding: 1rem 1rem 0.75rem 1.25rem;
}

.choice-pudget-item {
  border-radius: 1.25rem;
  margin: 0.75rem 0.75rem 1rem 0;
}

.choice-pudget a:hover {
  border-color: #00afa0;
  color: #00afa0;
}

.choice-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border: 1px solid #e1e1e1;
}

.choice-body-item {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.choice-body-item a {
  padding: 28px 20px;
}

.choice-body-item:nth-child(3n+0) {
  border-right: none;
}

.choice-body-item:last-child {
  border-bottom: none;
}

.choice-body-thumb img {
  width: 88px;
  height: auto;
  margin: 8px 0;
}

.choice-fuel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  border: 1px solid #e1e1e1;
}

.choice-fuel-thumb img {
  width: 64px;
  height: auto;
}

.choice-fuel-item {
  border-right: 1px solid #e1e1e1;
}

.choice-fuel-item a {
  padding: 28px 20px;
}

.choice-fuel-item:nth-child(4n+0) {
  border-right: none;
}

.choice-fuel-img {
  position: relative;
  overflow: hidden;
  width: 64px;
  height: 64px;
  display: flex;
  z-index: 5;
}

.choice-fuel-img:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 64px;
  height: 10px;
  bottom: 0;
  z-index: 0;
}

.choice-fuel-bg-circle {
  position: absolute;
  background-color: #e5e5e57a;
  width: 64px;
  height: 64px;
  z-index: -1;
  border-radius: 50%;
  top: 0;
  transition: 0.3s;
  will-change: background-color, opacity;
}

.choice-fuel-img:hover .choice-fuel-bg-circle {
  background-color: #00afa0;
  opacity: 0.5;
}

.choice-transimission-thumb img {
  height: 48px;
  width: auto;
}

.banner-center-wrapper {
  max-width: 1008px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner-center-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 1.25rem;
  width: 40%;
  margin-left: auto;
}

.search-banner-center {
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  line-height: 1;
  cursor: pointer;
}

.select-city {
  padding: 0.75rem 1rem;
  height: 45px;
}

.tab-panes-block__thumb-left,
.tab-panes-block__thumb-right {
  width: 50%;
}

.tab-panes-block__btn {
  padding: 0 0.75rem 1rem;
}

.tab-panes-block__btn a {
  padding: 0.5rem 0.75rem;
  border: 1px solid #0288D1;
  border-radius: 0.25rem;
  display: block;
}

.tab-panes-block__btn a:hover {
  color: #0288D1;
}

.tab-panes-block__thumb-left-text {
  padding: 0 0.75rem;
  display: block;
}

.tab-panes-block__thumb-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 50%;
  background: #e1e1e1;
  top: 30px;
}

.tab-panes-block__thumb-line:before {
  content: "vs";
  font-size: 13px;
  color: #e53012;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #0288D1;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-cate {
  max-width: 400px;
}

.cate-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.just-launched-new {
  background-color: #066da4;
}

.page-prev,
.page-next {
  color: #b5b5b5;
  cursor: pointer;
}

.page-prev {
  margin-right: 1rem;
}

.page-next {
  margin-left: 1rem;
}

.page-prev.active,
.page-next.active {
  color: #0288d1;
}

.paging-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  font-size: 13px;
  border-radius: 50%;
  color: #0288d1;
}

.paging.active .paging-link {
  background-color: #efefef;
}

.paging + .paging {
  margin-left: 1rem;
}

.list-cate__item {
  font-size: 12px;
  padding: 0 12px;
  position: relative;
}

.list-cate__item a {
  color: #6f6f6f;
}

.list-cate__item.active a {
  color: #0288d1;
}

.list-cate__item::after {
  content: "❯";
  position: absolute;
  right: -2px;
  top: 1px;
}

.list-cate__item:last-child:after {
  content: none;
}

.detail-content {
  display: grid;
  grid-template-columns: calc(100% - 320px) 300px;
  grid-gap: 20px;
  position: relative;
}

.detail-author__avarta img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50%;
}

.detail-left-silde__thumb img {
  width: 100%;
}

.detail-left-block {
  padding: 8px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem 0.5rem 0 0;
}

.detail-left-content figure {
  padding: 8px 0;
}

.detail-left-content img {
  width: 100%;
  height: auto;
}

.detail-left-content p {
  padding: 8px 0;
}

.detail-left-content p a {
  color: #0288d1;
}

.detail-left-content h2,
.detail-left-content h3,
.detail-left-content h4,
.detail-left-content h5,
.detail-left-content h6 {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 0;
}

.detail-left-content strong {
  font-weight: bold;
}

.picture-thumb {
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}

.picture-thumb img {
  width: 131px;
  height: auto;
}

.detail-left__share--img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}

.detail-left__share--img + .detail-left__share--img {
  margin-left: 12px;
}

.detail-left__share--img img {
  width: 100%;
  height: 100%;
}

.box-shadow__img {
  position: absolute;
  width: 37px;
  height: 37px;
  box-shadow: 0 1px 3px #aaa;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-content-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-content-footer {
  border: 1px solid #e5e5e5;
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: none;
}

.detail-content-footer__left {
  padding: 1.25rem;
  border-right: 1px solid #e5e5e5;
}

.detail-content-footer__right {
  padding: 1.25rem;
}

.detail-right {
  position: relative;
  height: 100%;
}

.detail-right-content {
  position: sticky;
  top: 70px;
}

.detail-brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.detail-right-pane-items {
  display: none;
}

.detail-right-pane-items.active {
  display: block;
}

.detail-brands-block {
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
}

.brand-item-detail:nth-child(3n+0) {
  border-right: none;
}

.footer {
  background-color: #0e3a50;
}

.footer-top {
  border-bottom: 1px solid #ffffff1c;
}

.footer-top svg {
  width: 130px;
  height: auto;
}

.footer-top-logo {
  padding: 1.5rem 3.75rem;
}

.footer-main-wrapper {
  padding: 28px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-main-wrapper__left-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-main-wrapper__left,
.footer-main-wrapper__center {
  border-right: 1px solid #ffffff1c;
}

.footer-main-wrapper__center-img img {
  width: 117px;
  height: auto;
  opacity: 0.5;
}

.footer-main-wrapper__right-app img {
  height: 33px;
  width: auto;
}

.footer-main-wrapper__right-share svg {
  width: 1.25rem;
  height: auto;
  margin-top: 0.75rem;
  margin-right: 1rem;
}

.footer-bottom {
  border-top: 1px solid #ffffff1c;
}

/*# sourceMappingURL=style.css.map */
