html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #484848;
  max-width: 120rem;
  margin: 0 auto;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Lato", sans-serif;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #484848;
}
a:hover {
  text-decoration: none;
  color: #484848;
}
img {
  display: block;
  max-width: 100%;
}
/*===========================================================================*/
.w-992 {
  max-width: 62rem;
  margin: 0 auto;
}
.w-1366 {
  max-width: 85.375rem;
  margin: 0 auto;
}
/*===========================================================================*/
.fs-12 {
  font-size: 0.75rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-22 {
  font-size: 1.375rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-26 {
  font-size: 1.625rem;
}
/*===========================================================================*/
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.fw-900 {
  font-weight: 900;
}
/*===========================================================================*/
.text-gray-b5 {
  color: $text-gray-b5;
}
.text-gray-48 {
  color: $text-gray-48;
}
.text-gray-6f {
  color: $text-gray-6f;
}
.text-gray-aa {
  color: $text-gray-aa;
}
.text-gray-d5 {
  color: #d5d5d5;
}
.text-gray-e1 {
  color: $text-gray-e1;
}
.text-gray-0a {
  color: $text-cyan-0a;
}
.text-gray-02 {
  color: $text-blue-02;
}
/*=================================================================*/
.bg-red-e5 {
  background-color: $bg-red-e5;
}
.bg-gray-f9 {
  background-color: #f9f9f9;
}
/*=================================================================*/
.border-d5 {
  border: 1px solid #d5d5d5;
}
/*=================================================================*/
.line-d5 {
  border-bottom: 1px solid #d5d5d5;
}
/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: $text-gray-b5;
}
