html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: #484848;
  max-width: 120rem;
  margin: 0 auto;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Lato", sans-serif;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #484848;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}
/*===========================================================================*/
.w-670 {
  max-width: 41.875rem;
  margin: 0 auto;
}
.w-992 {
  max-width: 62rem;
  margin: 0 auto;
}
.w-1366 {
  max-width: 85.375rem;
  margin: 0 auto;
}
/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-22 {
  font-size: 1.375rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-26 {
  font-size: 1.625rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.fs-32 {
  font-size: 2rem;
}
/*===========================================================================*/
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.fw-900 {
  font-weight: 900;
}
/*===========================================================================*/
.text-gray-b5 {
  color: $text-gray-b5;
}
.text-gray-48 {
  color: $text-gray-48;
}
.text-gray-6f {
  color: $text-gray-6f;
}
.text-gray-aa {
  color: $text-gray-aa;
}
.text-gray-d5 {
  color: #d5d5d5;
}
.text-gray-e1 {
  color: $text-gray-e1;
}
.text-cyan-0a {
  color: $text-cyan-0a;
}
.text-blue-02 {
  color: $text-blue-02;
}
.text-white-80 {
  color: #ffffff80;
}
/*=================================================================*/
.bg-red-e5 {
  background-color: $bg-red-e5;
}
.bg-gray-f9 {
  background-color: #f9f9f9;
}
/*=================================================================*/
.border-d5 {
  border: 1px solid #d5d5d5;
}
.border-e1 {
  border: 1px solid #e1e1e1;
}
/*=================================================================*/
.line-d5 {
  border-bottom: 1px solid #d5d5d5;
}
.line-f4 {
  border-bottom: 1px solid #f4f1f1;
}
.line-e1 {
  border-bottom: 1px solid #e1e1e1;
}
/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: $text-gray-b5;
}
.border-50 {
  border-radius: 50%;
}
/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.thumb-5x3 {
  padding-bottom: 60%;
}
.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*===============================================================*/
::-webkit-input-placeholder { /* Edge */
  color: #aaaaaa;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaaaaa;
}

::placeholder {
  color: #aaaaaa;
}
/*==================================================================*/
.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*=================================================================*/ 
.mt-12 {
  margin-top: 0.75rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.ml-12 {
  margin-left: 0.75rem;
}
.mr-12 {
  margin-right: 0.75rem;
}
.pt-12 {
  padding-top: 0.75rem;
}
.pb-12 {
  padding-bottom: 0.75rem;
}
.pl-12 {
  padding-left: 0.75rem;
}
.pr-12 {
  padding-right: 0.75rem;
}
/*=================================================================*/ 
.mt-20 {
  margin-top: 1.25rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.ml-20 {
  margin-left: 1.25rem;
}
.mr-20 {
  margin-right: 1.25rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.pb-20 {
  padding-bottom: 1.25rem;
}
.pl-20 {
  padding-left: 1.25rem;
}
.pr-20 {
  padding-right: 1.25rem;
}