.brand-content {
    border-radius: 4px;
    border: 1px solid #e1e1e1;
}
.brands {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}
.brand-item{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.brand-item:nth-child(6n + 0){
    border-right: none;
}
.brand-item img {
    width: 88px;
    height: auto;
}