.detail-used-wrapper {
    display: grid;
    grid-template-columns: calc(100% - 320px) 300px;
    grid-gap: 20px;
}
.cw-used-sprite {
    background: url(https://imgd.aeplcdn.com/0x0/cw/static/sprites/cwusedsprite.png?201612281409183678) no-repeat;
    display: inline-block;
}
.calender-icon {
    background-position: 0 0;
    width: 29px;
    height: 31px;
}
.kilo-meters {
    background-position: -37px 0;
    width: 35px;
    height: 31px;
}
.petrol {
    background-position: 0 -37px;
    width: 20px;
    height: 31px;
}
.manual {
    background-position: -81px 0;
    width: 33px;
    height: 31px;
}
.location {
    background-position: -124px 0;
    width: 24px;
    height: 31px;
}
.detail-used-left_tab-item {
    border-bottom: 2px;
    text-align: center;
    cursor: pointer;
    color: #565a5c;
}
.detail-used-left_tab-item.active {
    border-bottom: 3px solid #ef3f30;
    color: #565a5c;
}
.detail-used-left_tabs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom:1px solid #d5d5d5;
}
.detail-used-left_tab-pane {
    display: none;
}
.detail-used-left_tab-pane.active {
    display: block;
}
.detail-used-left_tab-li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.detail-used-left-more-cars-list:hover .detail-used-left-more-cars-dot{
    background-color: #ef3f30;

}
.detail-used-left-more-cars-list:hover .detail-used-left-more-cars-link {
    text-decoration: underline;
    color: #0288d1;
}
.detail-used-left-more-cars-dot {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin-right: 0.625rem;
    transition: all 0.2s;
}
.detail-used-right-field,
.used-left-field {
    height: 100%;
    position: relative;
}
.detail-used-right-wrapper,
.used-left-wrapper {
    position: sticky;
    top: 75px;
}