.footer {
    background-color: #0e3a50;
}
.footer-top {
    border-bottom:1px solid #ffffff1c
}
.footer-top svg {
    width: 130px;
    height: auto;
}
.footer-top-logo {
    padding: 1.5rem 3.75rem;
}
.footer-main-wrapper {
    padding: 28px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-main-wrapper__left-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-main-wrapper__left,
.footer-main-wrapper__center {
    border-right: 1px solid #ffffff1c;
}
.footer-main-wrapper__center-img img {
    width: 117px;
    height: auto;
    opacity: 0.5;
}
.footer-main-wrapper__right-app img {
    height: 33px;
    width: auto;
}
.footer-main-wrapper__right-share svg {
    width: 1.25rem;
    height: auto;
    margin-top: 0.75rem;
    margin-right: 1rem;
}
.footer-bottom  {
    border-top:  1px solid #ffffff1c;
}