#header {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}
.haeder-logo {
  flex-grow: 1;
}
.haeder-logo img {
  width: 136px;
  height: auto;
}
.dropdown-list {
  flex-grow: 2;
  padding: 1rem 0;
  margin: 2px 0 0;
}
.dropdown-list-toggle {
  cursor: pointer;
  position: relative;
}
.dropdown-list-toggle + .dropdown-list-toggle {
  margin-left: 60px;
}
.dropdown-list-toggle:before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 100%;
  right: 0;
  left: 0;
  transform: translateY(22px);
  background-color: transparent;
}
.dropdown-list-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  margin-top: 1rem;
  border-top: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  display: none;
  transition: transform linear 0.3s;
  -webkit-transition: transform linear 0.3s;
  -moz-transition: transform linear 0.3s;
  -ms-transition: transform linear 0.3s;
  -o-transition: transform linear 0.3s;
  will-change: transform;
}

.dropdown-list-block {
  padding: 0.625rem 15rem 2rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.dropdown-list-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 1.25rem;
}
.dropdown-line {
  position: absolute;
  height: 0.25rem;
  width: 0;
  transform: translateY(12px);
  background-color: #00afa0;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  will-change: width;
}
.dropdown-list-toggle:hover .dropdown-line {
  width: 100%;
}
.dropdown-list-toggle:hover .dropdown-list-wrapper {
  display: block;
}
.header-right {
  flex-grow: 2;
}
.header-search {
  flex-basis: 320px;
  position: relative;
}
.form-control-t {
  width: 100%;
  height: 2.8125rem;
  border-radius: 0.25rem;
  border: 1px solid #d5d5d5;
  padding: 0.75rem 1rem;
}
.header-icon + .header-icon {
  margin-left: 0.75rem;
}
.header-icon {
  line-height: 1;
  color: $text-gray-6f;
}
.header-icon .header-icon__location,
.header-icon .header-icon__map,
.header-icon .header-icon__user {
  font-size: 1.875rem;
}
.search-icon {
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  line-height: 1;
  cursor: pointer;
}
.focus-border-blule:focus {
  border: 1px solid #3fbfff;
}
.search-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 0.1875rem;
  background: #fff;
  z-index: 5;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0.375rem 0 0;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  -ms-border-radius: 0.1875rem;
  -o-border-radius: 0.1875rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  will-change: transform, transition;
}
.search-dropdown.show {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}
.search-dropdown::-webkit-scrollbar {
  display: block;
  width: 6px;
}
.search-dropdown::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 9999px;
  border: 1px solid #fff;
}
.search-dropdown::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.search-dropdown-item-li {
  padding: 0 0.75rem;
  cursor: pointer;
}
.search-dropdown-item:last-child .search-dropdown-item-li:last-child > div {
  border-bottom: none;
}
.search-dropdown-item-li:hover,
.dropdown-list-item:hover {
  background-color: #efefef;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.dropdown-list-item {
  padding-left: 10px;
}
.more-car-show-item {
  width: 60px !important;
  height: auto;
  display: none;
  transition: all 0.3s;
  transform: scale(0);
}
.more-car-show-item.active {
  display: block;
  transform: scale(1);
}
.more-car-show-item-text {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.625rem;
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
  width: 49px;
  border-radius: 0.25rem;
}
.more-car-show {
  display: block;
  margin-left: 2rem;
}
.login-popup,
.menu-mobile,
.search-mobile,
.seller-detail,
.list-imb-slide {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7);
  display: none;
  transition: 0.3s;
  opacity: 0;
  transition: all 0.3s linear;
}
.login-popup.show,
.menu-mobile.show,
.search-mobile.show,
.seller-detail.show,
.list-imb-slide.show {
  display: block;
  opacity: 1;
}
.login-popup-field,
.seller-detail-field{
  top: 50%;
  left: 50%;
  width: 30rem;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.25rem;
 
}
.login-popup-header {
 padding: 1.25rem 1rem;
}
.login-popup-close,
.seller-popup-close {
  top: -13px;
  right: 13px;
  background: #fbfbfb;
  width: 2rem;
  cursor: pointer;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 30%);
}
.login-popup-form {
  padding: 0.75rem 2.25rem 1.25rem;
}
.popup-show-pass {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btn-login {
  background-color:  $bg-red-e5;
  height: 40px;
}
.padding-y-40 {
  padding: 0 40px;
}
.line-or {
  background: #eee;
  width: 100%;
  height: 1px;
}
.btn-login-gg {
  height: 40px;
}
.header-user {
  cursor: pointer;
}
.menu-mb-field {
  background: #fff;
  height: 100%;
  max-width: 300px;
  padding: 1rem 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  will-change: transform;
}
.menu-mb-field.show{
  transform: translateX(0);
}
.menu-mb-dropdown-list {
  background-color: #fbfbfb;
  display: none;
  transform-origin: top;
  transition: 0.3s;
  will-change: display,transform;
}
.menu-mb-dropdown-list.show {
  display: block;
}
.menu-mb-dropdown-item {
  padding: 0.75rem 0.75rem 0.75rem 3.5rem;
}
.seller-detail-field {
  max-width: 340px;
}
.seller-detail-content {
  padding: 30px 30px 10px;
}
.seller-detail-form {
  padding: 0 30px 30px;
}