.seo-description__th {
    padding: 0.75rem 1.25rem;
    background-color: #fbfbfb;
    width: 50%;
    text-align: left;
    color: #aaa;
    font-weight: 700;
    border: 1px solid #ddd;
}
.seo-description__td {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
}
.seo-description__td--link {
    color: #0288D1;
    font-weight: 700;
}
.seo-description__td--link:hover {
    color: #0288D1;
    text-decoration: underline;
}
.read-more {
    cursor: pointer;
}
.seo-descript__table-div{
    display: none;
}
.seo-descript__table-div.active {
    display: block;
}