$text-gray-b5: #b5b5b5;
$text-gray-48: #484848;
$text-gray-6f: #6f6f6f;
$text-gray-aa: #aaaaaa;
$text-gray-e1: #e1e1e1;
$text-cyan-0a: #00afa0;
$text-blue-02: #0288d1;
/*=================================================================*/
$bg-red-e5: #e53012;
